.about {
  margin-top: 77px;
  margin-bottom: 91px;
}

.about p {
  font-family: $font-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 20px;
}

.container-padding {
  min-height: 327px;
  padding-left: 210px;
  background: url("../img/2005-desktop@1x.png") 0  5px no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    min-height: 327px;
    padding-left: 210px;
    background: url("../img/2005-desktop@2x.png") 0  5px no-repeat;
    background-size: 220px 317px;
  }
}

.about__title {
  font-family: $font-head;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin-top: 0;
  margin-bottom: 20px;
}

.about__button {
  display: block;
  cursor: pointer;
  font-family: $font-head;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $main-color;
  width: 180px;
  padding: 13.5px 0;
  border: 1px solid $main-color;
  border-radius: 5px;
  margin-top: 40px;
}

.about__dots {
  visibility: hidden;
}

@media (max-width: $tablet-width) {
  .about {
    margin-top: 29px;
    margin-bottom: 125px;
  }

  .container-padding {
    padding-left: 210px;
    background: url("../img/2005-tablet@1x.png") left 0 no-repeat;
    min-height: 360px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      padding-left: 210px;
      background: url("../img/2005-tablet@2x.png") left 0 no-repeat;
      background-size: 244px 362px;
      min-height: 360px;
    }
  }

  .about__title {
    font-size: 32px;
    line-height: 45px;
    padding-top: 20px;
  }

  .about__button {
    width: 180px;
  }

  .about__dots {
    visibility: visible;
  }

  .about__hide {
    display: none;
  }

  .about h2 {
    padding-top: 0;
    margin-bottom: 0;
  }

  .about p {
    margin-bottom: 21px;
    margin-top: 22px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    margin-top: 44px;
  }

  .about p {
    margin-bottom: 40px;
  }

  .container-padding {
    background: none;
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__title {
    font-size: 28px;
    line-height: 39px;
  }

  .about__button {
    margin-top: -12px;
  }
}
