.footer {
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #626962;
    opacity: 0.2;
    display: none;
    top: 100px;
    left: 100px;
  }
}

.footer__container {
  width: 73.8%;
  margin: 0 auto;
  padding: 65px 0 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__logo {
  width: 216px;
  height: 52px;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  align-items: center;
}

.footer__sections {
  width: 40%;
}

.footer__sections ul {
  margin-top: 25px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__sections li {
  width: 235px;
}

.footer__sections h2 {
  font-family: $font-head;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
  margin-top: 0;
}

.footer__list {
  font-family: "PT Mono", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 0;
  color: #1b2d37;
  opacity: 0.5;
  font-size: 15px;
  line-height: 25px;
}

.footer__list a {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
}

.footer__list-column {
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 50%;
}

.footer__list-item {
  display: block;
}

.footer__list-item a {
  font-family: $font-text;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
}

.footer__contacts {
  width: 27%;
}

.footer__contacts ul {
  flex-wrap: nowrap;
}

.footer__contacts h2 {
  font-family: $font-head;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
  margin-top: 0;
}

.footer__bottom {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 13px;
  line-height: 24px;
  flex-grow: 1;
  width: 100%;
}

.footer__list li {
  margin-right: 25px;
}

.footer__list-bottom {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 70px;
  padding-bottom: 29px;
}

.footer__button {
  display: none;
}

@media (max-width: $tablet-width) {
  .footer {
    min-height: 457px;
    overflow: hidden;

    &::before {
      top: 97px;
    }
  }

  .footer__container {
    padding: 19px 25px 0;
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 54px;
  }

  .footer__socials {
    margin-top: -5px;
    margin-left: 253px;
    width: 110px;
  }

  .footer__list {
    max-height: 100%;
  }

  .footer__list-item {
    width: 100%;
  }

  .footer__list li {
    margin-right: 10px;
  }

  .footer__bottom {
    text-transform: uppercase;
    margin-top: -17px;
  }

  .footer__list-bottom {
    position: relative;
    margin-bottom: 80px;

    &::before {
      position: absolute;
      content: "";
      width: 100vh;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
      top: -22px;
      left: -50px;
    }
  }

  .footer__list-bottom a {
    font-size: 13px;
    line-height: 24px;
  }

  .footer__list-bottom li {
    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      display: none;
    }
  }

  .footer__list-service {
    position: absolute;
    top: -373px;
    left: calc(100% - 418px);
  }

  .footer__sections {
    flex-direction: column;
    width: 50%;
  }

  .footer__sections ul {
    min-height: 180px;
    max-height: 300px;
  }

  .footer__list-column {
    max-height: 100%;
    margin-top: 25px;
  }

  .footer__contacts {
    width: 48%;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    overflow-x: hidden;

    &::before {
      top: 210px;
    }
  }

  .footer__container {
    padding: 0 15px;
  }

  .footer__logo {
    margin-top: 46px;
  }

  .footer__socials {
    margin-left: 0;
    margin-top: 72px;
    width: 113px;
  }

  .footer__sections {
    width: 100%;
    margin-bottom: 56px;
    min-height: 0;
  }

  .footer__sections ul {
    display: block;
  }

  .footer__title {
    display: flex;
    justify-content: space-between;
  }

  .footer__title h2 {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100vh;
      height: 1px;
      background-color: #626962;
      top: -30px;
      left: -10vh;
      opacity: 0.2;
    }
  }

  .footer__button {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url("../img/icon-plus.svg") center no-repeat;
    background-color: #ffffff;
    border: none;
  }

  .footer__button--active {
    background: url("../img/icon-minus.svg") center no-repeat;
  }

  .footer__list li {
    margin-right: 0;
  }

  .footer__contacts {
    flex-basis: 100%;
    cursor: pointer;
  }

  .footer__contacts li {
    margin-right: 10px;
  }

  .footer__list-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .footer__list-service {
    display: none;
    position: absolute;
    top: -136px;
    left: 50%;
    width: 235px;
    margin: 0;
    transform: translate(-50%, -50%);
  }

  .footer__contacts .footer__list--disable {
    display: none;
  }

  .footer__sections .footer__list--disable {
    display: none;
  }
}
