h1 {
  display: none;
}

.header {
  min-height: 878px;
  background: url("../img/circuit-desktop@1x.png") calc(50% + 440px) 258px no-repeat, url("../img/triangles-top.svg") calc(50% + 9px) no-repeat, url("../img/bg-desktop@1x.png") center no-repeat, #1b2d37;
  overflow: hidden;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    min-height: 878px;
    background: url("../img/circuit-desktop@2x.png") calc(50% + 440px) 258px no-repeat, url("../img/triangles-top.svg") calc(50% + 9px) no-repeat, url("../img/bg-desktop@2x.png") center no-repeat, #1b2d37;
    background-size: 705px 515px, auto, cover;
  }
}

.header__scroll {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(-90deg);
  margin-left: -34px;
  margin-top: 132px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.6;

  @media (max-width: 1776px) {
    margin-top: 30px;
  }
}

.header__container {
  width: 75%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 118px;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
}

.header__logo-text {
  font-family: $font-head;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  margin-left: 16px;
  margin-top: 6px;
}

.header__logo-text p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
  margin: 0;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  width: 47.5%;
  font-family: $font-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.header__email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 135px;
  margin-right: 55px;
}

.header__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-right: 15px;
}

.header__email a {
  padding-left: 20px;
}

.header__phone-text {
  padding-left: 16px;
  width: 196px;
}

.header__contacts a {
  color: #ffffff;
}

.header__button {
  font-family: $font-head;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  height: 45px;
  width: 182px;
  cursor: pointer;
}

.header__content {
  margin-top: 197px;
  margin-left: -3px;
}

.header__about {
  position: relative;
  color: #ffffff;
  width: 55%;
}

.header__about h2 {
  font-family: $font-head;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-bottom: 27px;
}

.header__about p {
  position: relative;
  margin-left: 98px;
  font-family: $font-text;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 44px;

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: #ffffff;
    left: -98px;
    top: 17px;
  }
}

.header__about a {
  display: block;
  font-family: $font-head;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-left: 98px;
  padding: 18px 0;
  background-color: $main-color;
  width: 407px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.header__content img {
  z-index: 9;
  margin-top: 6px;
}

.header__content-first {
  display: block;
}

.header__content-second {
  display: none;
}

@media (max-width: $tablet-width) {
  .header {
    min-height: 686px;
    background: url("../img/circuit-tablet@1x.png") calc(50% + 357px) 114px no-repeat, url("../img/triangles-top-tablet.svg") calc(63%) 0 no-repeat, url("../img/bg-tablet@1x.png") center no-repeat, #1b2d37;
    background-size: 465px, auto, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      min-height: 686px;
      background: url("../img/circuit-tablet@2x.png") calc(50% + 357px) 114px no-repeat, url("../img/triangles-top-tablet.svg") calc(63%) 0 no-repeat, url("../img/bg-tablet@2x.png") center no-repeat, #1b2d37;
      background-size: 465px 340px, auto, cover;
    }
  }

  .header__scroll {
    display: none;
  }

  .header__icon-phone {
    width: 24px;
    height: 24px;
  }

  .header__icon-mail {
    width: 25px;
    height: 19px;
  }

  .header__email-text {
    display: none;
  }

  .header__phone-text {
    display: none;
  }

  .header__phone a {
    width: auto;
    padding: 0;
  }

  .header__container {
    width: auto;
    padding: 0 25px;
  }

  .header__top {
    min-height: 90px;
  }

  .header__contacts {
    width: 100px;
  }

  .header__email {
    width: 26px;
    flex-basis: 26px;
  }

  .header__phone {
    width: 26px;
    margin: 0;
  }

  .header__button {
    display: none;
  }

  .header__content img {
    width: 465px;
    height: 340px;
  }

  .header__content {
    margin-top: 98px;
  }

  .header__about h2 {
    font-size: 60px;
    line-height: 70px;
  }

  .header__about {
    margin-left: 66px;
  }

  .header__about p {
    font-size: 18px;
    line-height: 28px;
    width: 360px;
    margin-left: 50px;
    margin-top: 29px;

    &::before {
      width: 30px;
      left: -45px;
    }
  }

  .header__about a {
    width: 379px;
    margin-top: 55px;
    margin-left: 51px;
  }
}

@media (max-width: $mobile-width) {
  .header {
    min-height: 647px;
    background: url("../img/circuit-mobile@1x.png") center 90px no-repeat, url("../img/triangles-top-tablet.svg") calc(36%) -12px no-repeat, url("../img/bg-mobile@1x.png") center no-repeat, #1b2d37;
    background-size: 301px, auto, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      min-height: 647px;
      background: url("../img/circuit-mobile@2x.png") center 90px no-repeat, url("../img/triangles-top-tablet.svg") calc(36%) -12px no-repeat, url("../img/bg-mobile@2x.png") center no-repeat, #1b2d37;
      background-size: 301px 220px, auto, cover;
    }
  }

  .header__container {
    padding: 0 15px;
  }

  .header__top {
    min-height: 71px;
  }

  .header__logo img {
    width: 38px;
    height: 38px;
  }

  .header__logo-text {
    display: none;
  }

  .header__email {
    margin-right: 0;
  }

  .header__content {
    margin-top: 215px;
    margin-left: 0;
  }

  .header__about h2 {
    font-size: 40px;
    line-height: 47px;
  }

  .header__about {
    margin-left: 0;
    width: auto;
  }

  .header__about p {
    width: auto;
    font-size: 16px;
    line-height: 25px;
    margin-top: 27px;
    margin-bottom: 0;
  }

  .header__about a {
    margin-left: 0;
    width: 100%;
    margin-top: 40px;
  }

  .header__content-first {
    display: none;
  }

  .header__content-second {
    display: block;
  }
}
