.services {
  min-height: 938px;
  background-color: #1b2d37;
  margin-top: 0;
}

.services__title {
  font-family: $font-head;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  padding-top: 88px;
  padding-left: 50px;
  margin-bottom: 52px;
  margin-top: 0;
}

.container__margin {
  max-width: 1280px;
}

.services__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  margin-left: 48px;
}

.services__item  {
  position: relative;
  margin-bottom: 127px;
  margin-right: 30px;
  display: block;
  width: 370px;
  height: 620px;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    top: 557px;
    left: 306px;
    z-index: 9;
    cursor: pointer;
    background: $main-color;
  }

  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 9px;
    background: url("../img/icon-arrow.svg") center no-repeat;
    top: 585px;
    left: 337px;
    z-index: 9;
    cursor: pointer;
  }
}

.services__item-title{
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  font-family: $font-head;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 370px;
  height: 620px;
  padding-left: 43px;
  padding-top: 53px;
  padding-right: 170px;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: $tablet-width) {
  .services {
    min-height: 1127px;
    margin-top: -51px;
    padding-top: 50px;

  }

  .container__margin {
    max-width: 765px;
  }

  .services__title {
    padding: 0;
    width: 88%;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 50px;
  }

  .services__list {
    margin-bottom: 46px;
    margin-right: 0;
    flex-direction: column;
    margin-left: 0;
  }

  .services__item {
    width: 715px;
    height: 256px;
    margin-bottom: 46px;

    &::before {
      top: 193px;
      left: 652px;
    }

    &::after {
      top: 221px;
      left: 681px;
    }
  }

  .services__item img {
    width: 715px;
    height: 256px;
  }

  .services__item-title{
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    width: 715px;
    height: 256px;
    padding-left: 43px;
    padding-top: 39px;
    padding-right: 500px;
  }
}

@media (max-width: $mobile-width) {
  .services {
    margin-top: -60px;
    padding-top: 50px;
    min-height: 1101px;
  }

  .container__margin {
    max-width: 350px;
  }

  .services__title {
    font-size: 28px;
    line-height: 39px;
    width: auto;
    padding-left: 10px;
    margin-bottom: 42px;
  }

  .services__list {
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
  }

  .services__list a {
    margin-bottom: 30px;
  }

  .services__item {
    width: 290px;
    height: 256px;
    margin-bottom: 30px;

    &::before {
      top: 193px;
      left: 227px;
    }

    &::after {
      top: 221px;
      left: 256px;
    }
  }

  .services__item img {
    width: 290px;
    height: 256px;
  }

  .services__item-title {
    width: 290px;
    height: 256px;
    left: 0;
    top: 0;
    padding-right: 87px;
    padding-left: 35px;
    padding-top: 20px;
  }
}
